* {
  font-size: 16px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

#content,
#rightSection,
#myForm,
#leftSection,
#TDT,
.infoContainer {
  display: flex;
}

#content,
#myForm,
#TDT,
.infoContainer {
  flex-direction: row;
}

#content,
#leftSection,
.infoContainer {
  justify-content: space-between;
}

#rightSection,
#leftSection {
  flex-direction: column;
  margin: 20px;
}

input,
button {
  border: 0;
}

#content {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/tom-barrett-hgGplX3PFBg-unsplash.jpg");
  color: #cccccc;
  background-size: cover;
}
#leftSection {
  padding-top: 23px;
  align-items: left;
  height: 90vh;
  padding-left: 25px;
}

#rightSection {
  gap: 50px;
}

input {
  border-bottom: solid white 2px;
  margin-top: 20px;
  background-color: black;
  opacity: 0.3;
  color: white;
}

#myForm {
  gap: 25px;
}

button {
  background-color: orangered;
  width: 50px;
  height: 50px;
}

#TDT {
  gap: 15px;
}

#FD-header {
  border-bottom: solid white 2px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.infoContainer {
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  #content,
  #rightSection,
  #leftSection {
    flex-direction: column;
  }

  #myForm {
    justify-content: space-between;
  }
}
