* {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

#content {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 1fr;
}

#header,
#footer {
  width: 100%;
  display: flex;
  align-items: center;
}

#header {
  justify-content: space-between;
}

#header :nth-child(2) {
  margin-right: 10px;
}
#header :nth-child(1) {
  margin-left: 10px;
}

h1 {
  font-size: 2rem;
}

#footer {
  justify-content: center;
  font-size: 0.5rem;
}

#myForm {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 80%;
  width: 90%;
  background-color: white;

  display: none;
}

#weatherInfoContainer {
  display: grid;
  grid-template-rows: 80% 20%;
  gap: 4px;
}

#upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#location {
  font-weight: bolder;
  font-size: 4rem;
}

#unitInforContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#temp {
  font-size: 3rem;
}

.unitContainer div {
  font-size: 0.7rem;
}

.unitContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#lower {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  width: 100%;
  height: 100%;
}

#briefDescription,
#date {
  font-size: 0.7rem;
}
