* {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  width: 100%;
}

#header,
#footer {
  width: 100%;
  display: flex;
  align-items: center;
}

#header {
  justify-content: space-between;
}

#footer {
  justify-content: center;
  font-size: 0.5rem;
}

#myForm :first-child,
#myForm {
  display: flex;
  flex-direction: row;
}

/*info styling*/
#container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 90%;
  width: 90%;
}

#weatherInfoContainer {
  display: grid;
  grid-template-rows: 70% 30%;
  gap: 4px;
}

#upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#location {
  font-weight: bolder;
  font-size: 60px;
}

#unitInforContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#temp {
  font-size: 3rem;
}

.unitContainer div {
  font-size: 0.7rem;
}

.unitContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
}
